<phpunit
        bootstrap="bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true">
    <testsuites>
        <testsuite name="wp-mock">
            <directory suffix="test.php">.</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../../trunk/</directory>
            <exclude>
                <directory suffix=".php">../../trunk/lib/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
